@font-face {
    font-family: 'BaseFont2026';
    src: url('./BaseFont2026.ttf') format('ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'BaseFont2026';
    src: url('./BaseFont2026-Bold.ttf') format('ttf');
    font-weight: 700;
}
:not(math, math *) {
    font-family: 'BaseFont2026' !important;
}