@font-face {
    font-family: 'BaseFont2026';
    src: url('https://onu032001.github.io/school-math-fonts/other-fonts/BaseFont2026/BaseFont2026.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'BaseFont2026';
    src: url('https://onu032001.github.io/school-math-fonts/other-fonts/BaseFont2026/BaseFont2026-Bold.ttf');
    font-weight: 700;
}