@font-face {
    font-family: 'MonoFont2026';
    src: url('./MonoFont2026.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'MonoFont2026';
    src: url('./MonoFont2026-Bold.ttf');
    font-weight: 700;
}